.wrap h2 {
    margin-bottom: 20px !important;
}
.wrap table{
    background: #fff;
    border: none;
    box-shadow: 1px 1px 0px 0px #ccc;
    padding: 10px;
}
.wrap table {
    border-collapse: collapse;
}
th, tr, td {
    text-align: left;
    padding: 10px;
    border: none;
}
th,tr {
    border-bottom: 1px solid #ccc;
}
.wrap .red {
    background: #de7a7a;
    color: #fff;
}